.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.center-items {
    display: block;
    margin: auto;
}

.logo-loading {
    width: 180px;
}