<div class="contenedor">
    <div class="backgroundImage">
        <!-- INICIO Y REGISTRO DE SESIONES -->
        <div class="row justify-content-end row-first">
            <div class="col-12 col-sm-12 col-md-4 col-lg-2">
                <button class="btn btn-primary btn-iniciar font-weight-bold m-auto d-block">Iniciar Sesión</button>
            </div>
            <!--LOGO-->
            <div class="col-12">
                <img class="logo" src="../../../assets/img/logo.png">
            </div>
        </div>

        <div class="row mt-4 pt-5 justify-content-center">
            <div class="col-12">
                <h1 class="text-white titletext text-center font-weight-bold">
                    UNETE A LA COMUNIDAD DE ANIME MAS GRANDE.
                </h1>
                <br>
                <h2 class="text-white subtext subtext text-center">
                    DISFRUTA DONDE QUIERAS TUS ANIMES FAVORITOS.
                </h2>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-4 mt-4">
                <button class="btn animated infinite pulse btn-primary btn-unirte">
                    <p class="text-btn-unirte mb-0">
                        UNIRTE AHORA
                        <i class="fa fa-chevron-right flechaIcon" aria-hidden="true"></i>
                    </p>
                </button>
            </div>
        </div>
    </div>
</div>