/*FONTS*/

@font-face {
    font-family: HWYGWDE;
    src: url(./assets/fonts/HWYGWDE.TTF);
}

.font-logo {
    font-family: HWYGWDE !important;
}


/*GLOBAL STYLES*/

.justify {
    text-align: justify !important;
}

.text-black {
    color: black !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.break-word {
    word-wrap: break-word !important;
}