/*FONTS*/

@font-face {
    font-family: HWYGWDE;
    src: url(./assets/fonts/HWYGWDE.TTF);
}

.font-logo {
    font-family: HWYGWDE !important;
}


/*GLOBAL STYLES*/

.justify {
    text-align: justify !important;
}

.text-black {
    color: black !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.break-word {
    word-wrap: break-word !important;
}


/*------------------------------------------BREAKPOINTS----------------------------------------------*/


/* BREAKPOINTS MOVIL*/

@media screen and (min-width: 250px) and (max-width: 599px) {}


/* FIN MOVIL BREAKPOINTS*/


/* BREAKPOINTS MOVIL HORIZONTAL*/

@media screen and (min-width: 600px) and (max-width: 760px) {}


/* FIN BREAKPOINTS MOVIL HORIZONTAL*/


/* BREAKPOINTS TABLET VERTICAL*/

@media screen and (min-width: 761px) and (max-width: 999px) {}


/* FIN BREAKPOINTS TABLET VERTICAL*/


/* BREAKPOINTS TABLET HORIZONTAL*/

@media screen and (min-width: 1000px) and (max-width: 1250px) {}


/* FIN BREAKPOINTS TABLET HORIZONTAL*/